.elements__bin {
  display: none;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  background: url("../../../images/bin.svg");
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
}
